@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
	/* Colors */
	--blackpure: #000;
	--black: #171718;
	--black-border: #26292d;
	--white: #fff;
	--purple: #5c62ec;
	--grey: #504E59;
	--grey-input: #424149;

	/* Nav */
	--nav-bg: var(--black);
	--nav-border: var(--black-border);
	--nav-text: var(--white);

	/* Header */
	--header-bg: var(--black);
	--header-text: var(--white);

	/* Footer */
	--footer-bg: var(--black);
	--footer-text: var(--white);

	/* Light mode */
	--page-bg: var(--white);
	--text-color: var(--black);
	--accent: var(--purple);
	--title-1: var(--accent);

	--gadget-card-bg: var(--white);
	--gadget-card-text: var(--black);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);

	--form-input-bg: var(--grey);
	--input-bg: var(--grey-input);
}

.dark {
	/* Dark mode */
	--page-bg: #252526;
	--text-color: var(--white);

	--title-1: var(--white);

	--gadget-card-bg: var(--black);
	--gadget-card-text: var(--white);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
	min-height: 100vh;

	font-family: 'DM Sans', sans-serif;
	letter-spacing: -0.5px;

	/* Light mode */
	background-color: var(--page-bg);
	color: var(--text-color);
}

#root {
	min-height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


/* General */

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.none {
	display: none !important;
}

.section {
	padding: 70px 0;
}

.title-1 {
	margin-bottom: 60px;

	font-size: 60px;
	font-weight: 700;
	line-height: 1.3;
	color: var(--title-1);
	text-align: center;
}

.title-2 {
	margin-bottom: 20px;

	font-size: 40px;
	font-weight: 700;
	line-height: 1.3;
}

/* Btn */

.btn {
	display: inline-block;
	height: 48px;
	padding: 12px 28px;

	border-radius: 5px;
	background-color: var(--accent);
	color: var(--white);
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;

	transition: opacity 0.2s ease-in;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	position: relative;
	top: 1px;
}

/* Projects  */

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}

.project__img {
	border-radius: 10px;
}

.project__title {
	padding: 15px 20px 25px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
	color: var(--gadget-card-text);
}

/* Project details */

.project-details {
	margin: 0 auto;
	max-width: 865px;

	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.project-details__cover {
	max-width: 100%;
	margin-bottom: 40px;

	box-shadow: var(--box-shadow);
	border-radius: 10px;
}

.project-details__desc {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
}

/* Content list */

.content-list {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	text-align: center;
}

.content-list a {
	color: var(--accent);
}

.content-list__item {
	font-size: 18px;
	line-height: 1.5;
}

.content-list__item p + p {
	margin-top: 0.5em;
}


/* Gadget creation form */
.creation-form-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
	margin-bottom: 60px;
}

.creation-form-content {
	padding: 20px;
	max-width: 370px;
	background-color: var(--form-input-bg);
	box-shadow: var(--box-shadow);
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.input-container {
	display: flex;
	flex: 0 0 auto;
	flex-flow: row wrap;
	align-items: center;
	margin-top: 20px;
	width: 100%;
}

.input-label {
	margin-bottom: 8px;
}

.input {
	background-color: var(--input-bg);
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 50px;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
}

.submit-btn-container {
	margin-top: 30px;
}


.select-css { 
	font-size: 18px;
	display: block; 
	flood-color: var(--input-bg);
	color: #eee; 
	line-height: 1.3; 
	padding: .6em 1.4em .5em .8em; 
	height: 50px;
	width: 100%; 
	max-width: 100%; 
	box-sizing: border-box; 
	margin: 0; 
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
	border-radius: .5em;
	background-color: var(--input-bg);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%; 
	-moz-appearance: none;
 	-webkit-appearance: none;
 	appearance: none;
} 

.select-css::-ms-expand { display: none; } 

.select-css:hover { border-color: #888; } 

.select-css:focus { 
	 box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	 box-shadow: 0 0 0 3px -moz-mac-focusring; 
	color: #eee;
	 outline: none; 
} 

.select-css option { font-weight:normal; } 

.select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
	background-position: left .7em top 50%, 0 0; 
	padding: .6em .8em .5em 1.4em; 
}